language: python
python:
 - "3.6"
# command to install dependencies
env:
- FLASK_VERSION=1.0.2

before_install:
  - "pip install -U pip"
  - "export PYTHONPATH=$PYTHONPATH:$(pwd)"

install:
 - pip install -r requirements.txt
 - pip install coveralls
 - pip install coverage
 - pip install pytest-cov
 - pip install codeclimate-test-reporter
# command to run tests
script:
 - python -m pytest
 - pytest --cov app

after_success:
 - coveralls
 
