body{
font-family: Arial, Helvetica;
font:15px;
padding:0;
margin:0;

}
#icon1{
  background-color: green;
  font-size: 14px;
  width: 100px;
  border-radius: 10px;
  color: white;
}
#icon2{
  background: red;
  font-size: 14px;
  width: auto;
  border-radius: 10px;
  color: white;
  width: 100px;

}
.container{
width:80%;
margin: auto;
overflow:hidden;




}
header{
  background:#35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 50px;
  border-bottom: white 4px solid;
}
ul{
  margin: 0;
  padding:0;

}
header a{
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;

}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
  border-radius: 5px;


}
header #branding{
  float: left;
}
header #branding h1{
  margin:0;
}
header nav{
  float: right;
  margin-top: 10px;
  border-bottom: 1px solid;



}
header a:hover{
  font-weight: bold;
  border-bottom: red;
}
header a:active{
  background-color: green;
}
#showcase{
  min-height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)),url("../img/event_1.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
#showcase h1{
  margin-top:140px;
  font-size: 40px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 16px;
  font-weight: lighter;
}
#wrapper{
  min-height: 400px;
  min-width: 400px;
  text-align: center;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)),url("../img/event_1.jpg");

}

#wrapper h1{
  color: white;
  border-bottom: 1px solid black;
}
.form{
min-height: 200px;
width: 300px;
padding:15px;
margin: auto;
margin-top: 40px;
border-radius: 10px;
border: #35424a 1px solid;
background-color: #35424a;
color: white;
}



body h3{
  text-align: center;
  border-bottom: 1px solid black;
}
h2{
  text-align: left;
  padding:0;
  margin: 0;
  color: white;
}

.form input{
  padding:12px;
  background: #f4f4f4;
  border-radius: 5px;
  margin: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: black 1px solid;
}
 button{
  background-color: green;
  border-radius: 5px;
  padding: 10px;
  min-width: 40px;
  margin: 0 0 5px 55px;
  color: white;
  float: inherit;
}

.form_1{
  width: 400px;
  min-height: 100%;
  border:1px solid black;
  color: black;
  min-height: 200px;
  padding:10px;
  margin: auto;
  border-radius: 10px;
  font-size: 14px;
  font-family:serif;
}

.form_1 h2{
  color: black;
  text-align: center;
}
.form_1 input{
  padding:8px;
  background: #f4f4f4;
  border-radius: 5px;

  box-sizing: border-box;
  font-size: 14px;
  border: black 1px solid;
}
.sidebar{
  min-width: 250px;
  height: 500px;
  border: 1px solid #35424a;
  float: left;
  border-radius: 5px;
  display: block;


}
  .sidebar ul{
    padding: 20px;
  }
  .sidebar ul li{
    list-style: none;
  }

  .sidebar ul li a{
    color: white;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
    background-color:  #35424a;
  }
  .sidebar ul li a:hover{
    color:green;
    font-weight: bold;
  }
.content{
  width:70%;
  min-height: 150px;
  color: white;
  float: right;
  border-radius: 5px;
  margin: auto;
  background-color: #35424a;
  text-align: center;

}
#binding{
  width:400px;
  min-height: 150px;
  border-radius: 10px;
  text-align: left;
  border: 1px green solid;
  font-family: sans-serif;
}

.content input,textarea, button{
  margin-top: 10px;
  margin-left: 0;
}
.content a{
  text-align: center;
  float: left;
  color: blue;
  padding: 0;
  margin: 0;
  text-decoration:none;
}
table {
width: 80%;
color: black;
margin: auto;
}

th, td {
  border-collapse: collapse;
    border: 1px solid #dddddd;
    background-color:white;
    text-align: center;




}


footer{
  padding:20px;
  margin-top:5px;
  color:white;
  background-color:#35424a;
  text-align: center;
  min-height: 120px;
}






/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Change color on hover */




.row {
  display: flex;
  flex-wrap: wrap;
  background-color: #FAF9F8;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */

.side-post {
  flex: 30%;
  font-family:serif;
  padding: 10px;
  font-size: 14px;
  margin-left: 20px;






}
/* Main column */

.main-post {
  flex: 30%;
  padding: 20px;
  height: auto;
  font-family:serif;
  margin-right: 10px;
  


}

/* Fake image, just for this example */
.image {
  border-radius: 50%;
  margin-left: 30px;
   }


 .post {
    width: 70%;
    float: center;

}

ul#user-action li{
  list-style: none;
  display: inline;
  margin-left: 20px;



}
ul#user-action li a{
  color: #00a388;
}
#user-action img{
  width: 35px;
  height:35px;
  margin-bottom: -2px;

}
#comments{
  width: 80%;
  float: left;
  font-family:serif;
}
#user_nav{
  font-family:serif;
  padding: 10px;
margin-left: 10px;
background-color: white;
margin-top: 20px;
margin-right: 10px;
  width: 150px;
  height: 350px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
}

#user_nav p{
  color: grey;
  font-size: 10px;
  font-family: monospace;
  text-align: center;
}
